.passenger {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    justify-content: center;
    width: 80%;
    background: var(--color-bg-primary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

h5 {
    margin-bottom: 5px;
}

.primary_contact {
    padding: 10px 15px;
    margin-top: 10px;
}

.primary_contact h5 {
    padding: 8px 15px;
    padding-left: 0;
    margin-bottom: 0;
}

.primary_contact p {
    margin-top: 0;
}

.primary_contact_box {
    display: flex;
    margin-top: 15px;
}

