.home-page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    justify-content: center;
    width: 80%;
    margin: 0px auto 1em auto;
    background: var(--color-bg-primary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0 16px 16px;
    border: none;
    padding: 1.5em;
}
.trip-selection {
    margin: 8px;
}
.input {
    border-radius: 10px;
}
.badge {
    background: whitesmoke;
    border-radius: 25px;
    width: auto;
    padding: 6px 16px;
    font-size: 13px;
    color: rgb(85, 84, 84);
    font-weight: 500;
}
.btn {
    border-radius: 8px 0px 8px 8px !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    color: #fff;
}

.btn-bg {
    background-color: #ff6301 !important;
}

.auto-complete > div > div > div > div {
    padding: 0px !important;
    border-radius: 6px 0px 6px 6px;
}

.auto-complete > div > div > div > label {
    margin-top: -6px !important;
}

.auto-complete > div > div > div > div > input {
    height: 25px;
}

.fields > div > div > div,
.fields > div > button {
    border-radius: 6px 0px 6px 6px;
    border-color: #c4c4c4;
}
